html, body {
    overflow-x: hidden;
}

body {
  font-family: DIN Pro, sans-serif;
  background-color: #fff;
  color: #102832FF;
  font-weight: 400;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

[class^="el-"] {
  font-family: DIN Pro, sans-serif !important;
}

body .nuxt-icon {
  width: auto;
  height: auto;
  margin-bottom: 0;
}

html {
  scroll-behavior: smooth;
}

button {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    background: none;
    border: none;
    padding: 0;
}

:root { --header-h: 100px; }
section[id] { scroll-margin-top: var(--header-h); }

